@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&family=Roboto:wght@400;700&display=swap");

html {
    scroll-behavior: smooth;
}

/* Typography  */

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #fafafa;
}

h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 3rem;
    color: rgba(255, 162, 0, 1);
}

h2 {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 2rem;
    color: rgba(255, 162, 0, 1);
}

/* Hover states */

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    color: rgba(255, 162, 0, 1);
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(255, 162, 0, 1);
    border-bottom: 1px solid rgba(255, 162, 0, 1);
}

/* Navigation */

.navbar {
    width: 100%;
    background-color: #000;
    border-bottom: 2px solid #fafafa;
}

.navbar-light .navbar-brand {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 2rem;
    color: #fafafa;
}

.navbar-light .navbar-nav .nav-link {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    color: #fafafa;
}

.navbar-light .navbar-toggler {
    color: #fafafa;
    border-color: #fafafa;
}

.navbar-toggler{
    background-color: rgba(255, 162, 0, 1);
}

/* Header img */

#headerimg {
    background: url(../images/background-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 70vh;
}

#headerimg .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70vh;
    background-color: rgba(0, 0, 0, 0.2);
}

#headerimg .hero-text {
    padding-top: 9rem;
}

.card-colour {
    background-color: #000;
    color: rgba(255, 162, 0, 1);
    border: solid 4px rgba(255, 162, 0, 1);
}
.card{
    margin-top: 350px;
}

/* Testimonial Section */
#testimonial {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 70%;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.testimonial-h1 {
    color: #555555;
}

.icon-card {
    text-align: center;
    margin: 0 auto;
}

.icon {
    background-color:rgba(255, 162, 0, 1);
    color: #fafafa;
    font-size: 3rem;
    border-radius: 50%;
    padding:7px;
    margin-top: 70px;
    height: 15rem;
    width: 15rem;
}

.icon-text {
    color: #555555;
}